#container {
    max-width: 600px;
    margin: 24px auto 30px;

    display: flex;
    flex-direction: column;
}

/*댓글*/
#comment-section {
    margin-top: 24px;
}
#comment-write-div {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

#comment-editor {
    width: 544px;
    height: 94px;
    margin: 24px 24px 0;
    box-sizing: border-box;

    resize: none;
    border: none;
}

#comment-write-button {
    margin: 8px 12px 8px auto;
    background-color: #ACA0EB;
    border-radius: 16px;
    padding: 6px 36px;

    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}