/* 로그인 */
.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.login-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 50px;
}

#login-form {
    width: 400px;
}

.login-label {
    display: flex;
    flex-direction: column;

    font-weight: 700;
    font-size: 15px;
    margin-bottom: 8px;
}

.login-input {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 3px;
}


.login-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.login-alert-message {
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
    visibility: hidden;

    margin-bottom: 8px;
}

.login-button {
    width: 100%;
    height: 36px;

    background-color: #7F6AEE;
    border-radius: 4px;
    border: none;

    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin-top: 12px;

    cursor: pointer;
}

#signup-button {
    font-size: 14px;
    font-weight: 400;

    cursor: pointer;

    margin-top: 12px;
}
