#top-section {
    max-width: 600px;
    margin: 40px auto 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-hello {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 30px;
}

#write-post-button {
    margin-left: auto;
    background: linear-gradient(135deg, #7F6AEE, #ACA0EB);
    padding: 10px 32px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
}

#write-post-button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #6755e0, #9a8ceb);
}


#post-list-container {
    padding-bottom: 50px;
}

.post-list {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
    margin: auto;
}

.post-item {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

.post-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}


/*제목*/
.post-title {
    font-weight: 700;
    font-size: 24px;

    /*상좌하우*/
    padding: 18px 24px 10px 24px;
}

/*스탯과 날짜*/
.post-stats-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 14px;

    /*상좌하우*/
    padding: 0 24px 24px 24px;
}

/*구분선*/
.post-hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.16);
    border: none;

    margin-bottom: 16px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    /*상좌하우*/
    padding: 0 24px 16px 24px;
}

.post-user-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.post-user-name {
    font-weight: 700;
    font-size: 15px;
}
