#container {
    max-width: 600px;
    margin: 24px auto 30px;

    display: flex;
    flex-direction: column;
}

/* 상단 부분 */
#top-section {
    width: 100%;

    margin-bottom: 24px;
}

#post-title {
    width: 100%;

    font-weight: 700;
    font-size: 24px;

    margin-bottom: 12px;
}

#post-info {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#post-user-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 10px;
}

#post-user-name {
    font-weight: 700;
    font-size: 15px;
    margin-right: 24px;
}

#post-created-at {
    font-weight: 400;
    font-size: 14px;
}

.edit-delete-button {
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    padding: 2px 12px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.16);
    border: none;
}

/* 컨텐츠 섹션 */
#content-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 24px 0;
}

#content-image {
    width: 544px;
    height: 306px;

    margin-bottom: 24px;
}

#content-text {
    width: 544px;

    font-size: 15px;
    font-weight: 400;
    line-height: 21px;

    margin-bottom: 36px;
}

#content-stats {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content-stats {
    width: 116px;
    height: 77px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background: #D9D9D9;
    border-radius: 16px;

    font-size: 16px;
    font-weight: 700;
}

.content-stats.liked {
    background-color: #ACA0EB;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#content-like-stat {
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/*댓글*/
#comment-section {
    margin-top: 24px;
}
#comment-write-div {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

#comment-editor {
    width: 544px;
    height: 94px;
    margin: 24px 24px 0;
    box-sizing: border-box;

    resize: none;
    border: none;
}

#comment-write-button {
    margin: 8px 12px 8px auto;
    background-color: #ACA0EB;
    border-radius: 16px;
    padding: 6px 36px;

    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.comment-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

}

.comment-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-user-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-user-image {
    width: 36px;
    height: 36px;

    border-radius: 100%;

    margin-right: 10px;
}

.comment-user-name {
    font-weight: 700;
    font-size: 15px;

    margin-right: 24px;
}

.comment-date {
    font-weight: 400;
    font-size: 14px;
}

.comment-edit-delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
}

.comment-comment {
    margin-left: 46px;
    margin-top: 8px;
}

.comment-edit-button, .comment-delete-button {
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    padding: 2px 10px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}
