#post-detail-container {
    max-width: 982px;
    margin: 24px auto 30px;

    display: flex;
    flex-direction: column;
}

/* 상단 부분 */
#top-section {
    width: 100%;

    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

#post-title {
    width: 100%;

    font-weight: 700;
    font-size: 28px;
}

#post-info {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#post-user-image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}

#post-user-name {
    font-weight: 700;
    font-size: 14px;
}

#post-meta {
    display: flex;
    flex-direction: row;

    font-weight: 400;
    font-size: 13px;
    color: #00000066;

    gap: 12px;
}

.edit-delete-button {
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    padding: 2px 12px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.16);
    border: none;
}

/* 컨텐츠 섹션 */
#content-section {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin: 24px 0;
}

#content-image {
    width: 544px;
    height: 306px;

    margin-bottom: 24px;
}

#content-text {
    width: 982px;

    font-size: 15px;
    font-weight: 400;
    line-height: 21px;

    margin-bottom: 52px;
}

#content-like-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    color: #ACA0EB;

    border: 1px solid #ACA0EB;
    border-radius: 24px;

    padding: 6px 18px;
}

#content-like-stat.liked {
    background-color: #ACA0EB;
    cursor: pointer;
    transition: background-color 0.3s ease;

    color: white;
}


/*댓글*/
#content-comment-stat {
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-weight: 700;
    font-size: 20px;

    margin-bottom: 12px;
}

#comment-count {
    color: #ACA0EB;
}

#comment-section {
    margin-top: 24px;
}
#comment-write-div {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

#comment-editor {
    width: 544px;
    height: 94px;
    margin: 24px 24px 0;
    box-sizing: border-box;

    resize: none;
    border: none;
}

#comment-write-button {
    margin: 8px 12px 8px auto;
    background-color: #ACA0EB;
    border-radius: 16px;
    padding: 6px 36px;

    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.comment-item {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #D9D9D9;

    padding-bottom: 10px;
    margin-bottom: 20px;
}

#comment-list .comment-item:last-of-type {
    border: none;
}

.comment-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-user-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-user-image {
    width: 32px;
    height: 32px;

    border-radius: 100%;

    margin-right: 10px;
}

.comment-user-name {
    font-weight: 700;
    font-size: 15px;

    margin-right: 16px;
}

.comment-date {
    font-weight: 400;
    font-size: 13px;
    color: #00000088;
}

.comment-edit-delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
}

.comment-comment {
    margin-left: 46px;
    margin-top: 8px;
}

.comment-edit-button, .comment-delete-button {
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    padding: 2px 10px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}
