#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    margin: auto;

    flex: 1;
}

#profile-edit-header {
    font-weight: 700;
    font-size: 32px;

    margin: 50px auto 12px;
}

.profile-edit-title {
    font-weight: 700;
    font-size: 15px;
}

#profile-image-container {
    margin: 22px auto 36px;

    position: relative;
}

#profile-edit-profile-image-input {
    display: none;
}

#profile-edit-profile-image-edit-button {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;

    top: 0;
    left: 0;

    background-color: rgba(70, 70, 70, 0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#profile-edit-profile-image-edit-button-text {
    background-color: rgba(0, 0, 0, 0.35);
    width: 52px;
    height: 27px;

    text-align: center;

    border: 1px solid #ffffff;
    border-radius: 25px;

    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

#profile-edit-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#profile-edit-email {
    font-weight: 400;
    font-size: 14px;

    margin: 8px 0 16px;
}

#profile-edit-nickname-input {
    height: 33px;

    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    outline: none;
}

#profile-edit-nickname-edit-button {
    height: 33px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    background-color: #ACA0EB;
    border-radius: 8px;

    margin-top: 32px;
}

#profile-edit-delete-account-button {
    font-size: 14px;
    font-weight: 400;
    margin: 12px auto 0;
}

#profile-edit-submit-edit-button {
    height: 33px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    background-color: #ACA0EB;
    border-radius: 8px;

    margin-top: 40px;
}
