body {
    display: flex;
    flex-direction: column;
}

/* 회원가입 */
#signup-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 40px;
    padding-bottom: 40px;
}

#signup-title {
    font-weight: 700;
    font-size: 32px;

    margin-bottom: 20px;
}

#profile-image-div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}

#profile-image-input {
    display: none;
}

#profile-image-upload-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-image {
    width: 180px;
    height: 180px;
    border-radius: 100%;

    background-color: #F4F5F7;

    margin-top: 20px;
    margin-bottom: 30px;
}

#signup-form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.signup-label {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 8px;
}

.signup-input {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 3px;
}


.signup-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.signup-alert-message {
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
    visibility: hidden;

    margin-bottom: 8px;
}

.signup-button {
    width: 100%;
    height: 36px;

    background-color: #7F6AEE;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin-top: 12px;
}

#login-button {
    font-size: 14px;
    font-weight: 400;

    cursor: pointer;

    margin-top: 12px;
}
