* {
    margin: 0;
    padding: 0;
}

button {
    all: unset; /* 기본 스타일 제거 (outline, border, padding 등) */
    cursor: pointer; /* 클릭 가능한 요소로 유지 */
}

body {
    background-color: #F4F5F7;
}

#post-form {
    max-width: 600px;
    margin: 24px auto;
}