#comment-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;

}

#comment-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#comment-user-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comment-user-image {
    width: 36px;
    height: 36px;

    border-radius: 100%;

    margin-right: 10px;
}

#comment-user-name {
    font-weight: 700;
    font-size: 15px;

    margin-right: 24px;
}

#comment-date {
    font-weight: 400;
    font-size: 14px;
}

#comment-edit-delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
}

#comment-comment {
    margin-left: 46px;
    margin-top: 8px;
}

.comment-edit-delete-button {
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    padding: 2px 10px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}